/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  background: linear-gradient(to bottom, #505050, #666666);
	 line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/*Logo image in top left*/
#Header ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #666666;
}
#Header li {
  float: left;
}
#Header img {
  float: left;
  width: 25%;
  height: 25%;
}
/*flexible tag line*/
#Tagline {
  top: 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  color: #ffcc33;
  background-color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}
/*page canvas*/
.container {
  width: 90%;
  margin: auto;
}
/*Responsive promotional video*/
#PromoVid {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-top: 5%;
  padding-bottom: 40%;
}
#PromoVid iframe {
  position: absolute;
  top: 10%;
  left: 25%;
  overflow: hidden;
  width: 50%;
  height: 75%;
}
/*Styles all the page seperators*/
.Guest {
  position: relative;
  top: 0;
  overflow: hidden;
  width: 100%;
}
.Guest p {
  padding: 0.75em 1em;
  text-align: left;
  color: #ffcc33;
  border-radius: 50px;
  background-color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}

/*Sets the sizing for the VA images and descriptions*/
.VA {
  margin: 5%;
  width: 25%;
}
.VA img {
  width: 100%;
}
.VA p {
  color: white;
  font-size: 1.3em;
}
/*Styles all the names above the images*/
.Name {
  padding-bottom: 2.5%;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
/*Prefixes for flex display - VAs*/
.flexVA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/*Stretch all contents to the same size*/
.flexVA.VA {
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}
/*Sizing and placement for music gusts*/
.Music {
  margin: 5%;
  width: 50%;
}
.Music img {
  width: 50%;
  padding: 0 25%;
}
.Music p {
  color: white;
  font-size: 1.3em;
}
/*Prefixes*/
.flexMusic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flexMusic.Music {
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}
/*Placement of VA images*/
.Industry {
  margin: 5%;
  width: 25%;
}
.Industry img {
  width: 100%;
}
.Industry p {
  color: white;
  font-size: 1.3em;
}
/*Prefixes*/
.flexInd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flexInd.Industry {
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

/*Fashion placement*/
.Fashion {
  margin: 5%;
  width: 50%;
}
.Fashion img {
  width: 50%;
  padding: 0 25%
}
.Fashion p {
  color: white;
  font-size: 1.3em;
}
/*Prefixes*/
.flexFash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flexFash.Fashion {
  -webkit-box-align: stretch;
  -ms-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}
/*Subscribe placement*/
.Subscribe {
  position: relative;
  top: 0;
  overflow: hidden;
  width: 100%;
  background-color: black;
  padding: 2.5% 0;
}
/*Style for the text*/
.Subscribe label {
  padding: 5% 1% 5% 7.5%;
  text-align: left;
  color: #ffcc33;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
}
.Subscribe input {
	border: 0.35em;
  border-color: white;
  border-style: solid;
  background-color: transparent;
  color: white;
  padding: 0.75em;
}
.Subscribe input:focus {
  border-radius: 1em;
  outline: none;
}
/*Style for the submit button*/
.Subscribe button {
  border: 0.35em;
  border-color: #ffcc33;
  border-style: solid;
  background-color: transparent;
  color: white;
  padding: 0.75em;
}
.Subscribe button:focus {
  border-radius: 1em;
  outline: none;
}

/*Media query for mobile phones*/
@media screen and (max-width: 600px) {
  /*Mobile Tagline*/
  #Tagline {
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    color: #ffcc33;
    background-color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 0.9em;
    font-weight: 800;
  }
  /*Mobile video*/
  #PromoVid {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-top: 5%;
    padding-bottom: 56.25%;
  }
  #PromoVid iframe {
    position: absolute;
    top: 5%;
    left: auto;
    width: 100%;
    height: 90%;
  }
  /*Mobile seperators*/
  .Guest {
    position: relative;
    top: 0;
    overflow: hidden;
    width: 100%;
    padding-top: 5%;
  }
  .Guest p {
    padding: 0.5em 0.75em 0.5em 0.75em;
    text-align: left;
    color: #ffcc33;
    border-radius: 50px;
    background-color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 1.25em;
    font-weight: 800;
  }
  /*Mobile VA styles*/
  .VA {
    margin: 5%;
    width: auto;
  }
  .VA img {
    width: 100%;
  }
  .VA p {
    color: white;
    font-size: 1.1em;
  }
  /*Styles names on mobile*/
  .Name {
    padding-bottom: 2.5%;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
  }
  /*VA columns on mobile*/
  .flexVA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 2.5%;
    justify-content: space-around;
    align-content: center;
  }
  .flexVA.VA {
    -webkit-box-align: stretch;
    -ms-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
  /*Mobile music placement*/
  .Music {
    margin: 5%;
    width: auto;
  }
  .Music img {
    width: 100%;
    padding: 0;
  }
  .Music p {
    color: white;
    font-size: 1.1em;
  }
  .flexMusic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;

    }
  .flexMusic.Music {
    -webkit-box-align: stretch;
    -ms-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
  /*Mobile Industry placement*/
  .Industry {
    margin: 5%;
    width: auto;
  }
  .Industry img {
    width: 100%;
  }
  .Industry p {
    color: white;
    font-size: 1.1em;
  }
  .flexInd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 2.5%;
    justify-content: space-around;
    align-content: center;
  }
  .flexInd.Industry {
    -webkit-box-align: stretch;
    -ms-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }

  /*Mobile Fashion layout*/
  .Fashion {
    width: auto;
  }
  .Fashion img {
    width: 100%;
    padding: 0;
  }
  .Fashion p {
    color: white;
    font-size: 1.1em;
  }
  .flexFash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 2.5%;
    justify-content: space-around;
    align-content: center;
  }
  .flexFash.Fashion {
    -webkit-box-align: stretch;
    -ms-box-align: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
  }
  /*Mobile form layout*/
  .Subscribe label {
    padding: 10%;
    text-align: center;
    color: #ffcc33;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
  }
  .Subscribe input {
  	border: 0.25em;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    color: white;
    padding: 0.75em;
    margin-left: 11%;
  }
}
