/* CSS Reset
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	background-color: #666666;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}

#Header li {
    float: left;
	display: inline;
}

#Header img {
	float: center;
	padding: 10 15;
	height: 25%;
	width: 25%;
}

#Tagline {
	top: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	padding: 0.5em 0 0.5em 0;
	font-size: 1.5em;
	color: #ffcc33;
	background-color: black;
	text-align: center;
}

#PromoVid {
	position: relative;
	padding-bottom: 40%; 
	padding-top: 5%;
	height: 0;
	overflow: hidden;
}
#PromoVid iframe {
	position: absolute;
	top: 10%;
	left: 25%;
	width: 50%;
	height: 75%;
	overflow: hidden;
}

#VAs {
	position: relative;
	top: 0;
	left: 2.5%;
	width: 95%;
	overflow: clip;
}

#VAs p {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	padding: 0.75em 1em 0.75em 1em;
	text-align: left;
	font-size: 1.5em;
	color: #ffcc33;
	background-color: black;
	border-radius: 50px;
	
}

.flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: baseline;
	padding-top: 2.5%;
	padding-left: 10%;
	
}



.flex div.Mercer {
	flex: 0 1 auto;
	align-self: center;
	width: 25%;
	height: auto;
}

.flex div.Marisha {
	flex: 0 1 auto;
	align-self: center;
	min-width: 0;
	min-height: auto;
}

.flex div.Solusod {
	flex: 0 1 auto;
	align-self: center;
	min-width: 0;
	min-height: auto;
}

#Mercer img{
	width: 75%;
	height: 400px;
}

#Marisha img {
	width: 75%;
	height: 400px;
}

#Solusod img {
	width: 75%;
	height: 400px;
}

#Mercer p {
	width: 75%
}

#Marisha p {
	width: 75%;
}

#Solusod p {
	width: 75%;
}


@media screen and (max-width: 600px){
 #Tagline {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	padding: 0.5em 0 0.5em 0;
	text-align: center;
	font-size: 0.9em;
	color: #ffcc33;
	background-color: black;
	
 }	
 
 #PromoVid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 5%;
	height: 0;
	overflow; hidden;
}
#PromoVid iframe {
	position: absolute;
	top: 5%;
	left: 12.5%;
	width: 75%;
	height: 75%;

 }
 
 #VAs {
	position: relative;
	top: 0;
	left: 2.5%;
	width: 95%;

}

#VAs p {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;
	padding: 0.5em 1em 0.5em 1em;
	text-align: left;
	font-size: 1.5em;
	color: #ffcc33;
	background-color: black;
	border-radius: 55px;
 }
 .flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: center;
	align-items: baseline;
	padding-top: 2.5%;
	padding-left: 10%;
	
}



.flex div.Mercer {
	flex: 0 1 auto;
	align-self: auto;
	width: 25%;
	height: auto;
}

.flex div.Marisha {
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

.flex div.Solusod {
	flex: 0 1 auto;
	align-self: auto;
	min-width: 0;
	min-height: auto;
}

#VAimages img, p{
	padding-left: 5%;	
}

#Mercer img{
	
	width: 75%;
	height: auto;
}

#Marisha img {
	width: 75%;
	height: auto;
}

#Solusod img {
	width: 75%;
	height: auto;
}

#Mercer p {
	width: 75%
}

#Marisha p {
	width: 75%;
}

#Solusod p {
	width: 75%;
}
}



